.home{
    background-image: url("../IMG/White\ cloud\ on\ blue\ sky\ featuring\ sky\,\ heavens\,\ and\ view.jpg");
    background-size: 100% 100%;
}

button{
    background-color: transparent !important;
}